<div class="page-wrap">
    <div class="page-container">
        <div class="outer">
            <div class="header">Account</div>
            <div class="content">
                <div class="img"><span class="txt">Upload Photo</span></div>
                <div class="field">
                    <div class="left-field">
                        <span class="data-r">Name</span>
                        <span class="data-r">Mobile</span>
                        <span class="data-r">UserName</span>
                    </div>
                    <div class="right-field">
                        <span class="data-l">Email</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>