
.side-wrapper{
    background: lightskyblue;
    height: 100%;
    border-right: 1px solid #f1f1f1;
    overflow: hidden;
    width: 100px;
    margin: 16px 8px 8px 16px;
    .img-wrapper {
        display: grid;
        .img {
            background-color: white;
            margin: 30px 20px 10px 20px;
            width: 65px;
            height: 65px;
            border-radius: 50px;
        }
        .name {
            color:white;
            margin: 0px 0px 25px 30px;
        }
    }
    .menu-wrapper{
      text-align:center;
      cursor: pointer;
      display: flex;
      outline: none;
      .icon-wrp{
        padding: 12px 8px 12px 0px;
        flex: auto;
        .icon {
            img{
                width:28px;
            }
        }
        .menu-name{
            font-size: 15px;
            font-weight: 600;
            color: black;
        }
    }
      .fill {
         width: 4px;
         
      }
      .fill.active {
        background-color: lightblue;
    
    }
    }

    .menu-wrapper:hover {
        background-color: #f1f1f1;
    }
}